body{
    font-family: 'Ubuntu';
}
.navbar{
    border-bottom: 3px solid #000000 ;
}

figure img{
    width : 100%;
    transition: 0.7s all;
}
figure img:hover{
    transform: scale(1.1);
}

figure figcaption p{
    text-align: center;
}

#section-1{
    background-image: url(../img/bg-guitar.jpg);
    background-size: cover;
    opacity: 0.8;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#section-1 h1{
    padding-top: 140px;
    font-family: 'Sacramento', cursive;
    color : #E5E5E5;
    font-size: 120px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}